<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Running Platform" sequenceNumber="12">
<locations>
<location path="${eclipse_home}" type="Profile"/>
</locations>
<includeBundles>
<plugin id="ch.qos.logback.classic"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="ch.qos.logback.slf4j"/>
<plugin id="com.github.eclipsecolortheme"/>
<plugin id="com.google.gson"/>
<plugin id="com.google.guava"/>
<plugin id="com.ibm.icu"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="com.sun.el"/>
<plugin id="javaewah"/>
<plugin id="javax.annotation"/>
<plugin id="javax.el"/>
<plugin id="javax.inject"/>
<plugin id="javax.servlet"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="javax.xml"/>
<plugin id="org.apache.ant"/>
<plugin id="org.apache.batik.css"/>
<plugin id="org.apache.batik.util"/>
<plugin id="org.apache.batik.util.gui"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.apache.commons.compress"/>
<plugin id="org.apache.commons.httpclient"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.httpcomponents.httpclient"/>
<plugin id="org.apache.httpcomponents.httpcore"/>
<plugin id="org.apache.jasper.glassfish"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.apache.lucene.core"/>
<plugin id="org.apache.xerces"/>
<plugin id="org.apache.xml.resolver"/>
<plugin id="org.apache.xml.serializer"/>
<plugin id="org.aspectj.runtime"/>
<plugin id="org.aspectj.weaver"/>
<plugin id="org.chromium.debug"/>
<plugin id="org.chromium.debug.core"/>
<plugin id="org.chromium.debug.ui"/>
<plugin id="org.chromium.sdk"/>
<plugin id="org.chromium.sdk.wip.eclipse"/>
<plugin id="org.chromium.sdk.wipbackend.protocol_1_0"/>
<plugin id="org.chromium.sdk.wipbackend.wk118685"/>
<plugin id="org.chromium.sdk.wipbackend.wk120709"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.ant.launching"/>
<plugin id="org.eclipse.ant.ui"/>
<plugin id="org.eclipse.compare"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.compare.win32"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.core.externaltools"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.core.filesystem.java7"/>
<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="org.eclipse.core.net.win32.x86_64"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.core.resources.win32.x86_64"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.core.runtime.compatibility"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.cvs"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.eclipse.debug.ui"/>
<plugin id="org.eclipse.e4.core.commands"/>
<plugin id="org.eclipse.e4.core.contexts"/>
<plugin id="org.eclipse.e4.core.di"/>
<plugin id="org.eclipse.e4.core.di.extensions"/>
<plugin id="org.eclipse.e4.core.services"/>
<plugin id="org.eclipse.e4.ui.bindings"/>
<plugin id="org.eclipse.e4.ui.css.core"/>
<plugin id="org.eclipse.e4.ui.css.swt"/>
<plugin id="org.eclipse.e4.ui.css.swt.theme"/>
<plugin id="org.eclipse.e4.ui.di"/>
<plugin id="org.eclipse.e4.ui.model.workbench"/>
<plugin id="org.eclipse.e4.ui.services"/>
<plugin id="org.eclipse.e4.ui.widgets"/>
<plugin id="org.eclipse.e4.ui.workbench"/>
<plugin id="org.eclipse.e4.ui.workbench.addons.swt"/>
<plugin id="org.eclipse.e4.ui.workbench.renderers.swt"/>
<plugin id="org.eclipse.e4.ui.workbench.swt"/>
<plugin id="org.eclipse.e4.ui.workbench3"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient4"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient4.ssl"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.egit"/>
<plugin id="org.eclipse.egit.core"/>
<plugin id="org.eclipse.egit.doc"/>
<plugin id="org.eclipse.egit.github.core"/>
<plugin id="org.eclipse.egit.mylyn.ui"/>
<plugin id="org.eclipse.egit.ui"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.emf.ecore.edit"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.emf.emfstore.common"/>
<plugin id="org.eclipse.epp.mpc.core"/>
<plugin id="org.eclipse.epp.mpc.help.ui"/>
<plugin id="org.eclipse.epp.mpc.ui"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.equinox.bidi"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.frameworkadmin"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.equinox.jsp.jasper"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.equinox.p2.console"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.equinox.p2.director"/>
<plugin id="org.eclipse.equinox.p2.director.app"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher"/>
<plugin id="org.eclipse.equinox.p2.discovery"/>
<plugin id="org.eclipse.equinox.p2.discovery.compatibility"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.equinox.p2.operations"/>
<plugin id="org.eclipse.equinox.p2.publisher"/>
<plugin id="org.eclipse.equinox.p2.publisher.eclipse"/>
<plugin id="org.eclipse.equinox.p2.ql"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.equinox.p2.repository.tools"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
<plugin id="org.eclipse.equinox.p2.transport.ecf"/>
<plugin id="org.eclipse.equinox.p2.ui"/>
<plugin id="org.eclipse.equinox.p2.ui.discovery"/>
<plugin id="org.eclipse.equinox.p2.ui.importexport"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
<plugin id="org.eclipse.equinox.p2.updatechecker"/>
<plugin id="org.eclipse.equinox.p2.updatesite"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.equinox.security.win32.x86_64"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.equinox.weaving.aspectj"/>
<plugin id="org.eclipse.equinox.weaving.hook"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.help.webapp"/>
<plugin id="org.eclipse.jdt"/>
<plugin id="org.eclipse.jdt.annotation" version="1.1.0.v20140129-1625"/>
<plugin id="org.eclipse.jdt.annotation" version="2.0.0.v20140415-1436"/>
<plugin id="org.eclipse.jdt.apt.core"/>
<plugin id="org.eclipse.jdt.apt.pluggable.core"/>
<plugin id="org.eclipse.jdt.apt.ui"/>
<plugin id="org.eclipse.jdt.compiler.apt"/>
<plugin id="org.eclipse.jdt.compiler.tool"/>
<plugin id="org.eclipse.jdt.core"/>
<plugin id="org.eclipse.jdt.core.manipulation"/>
<plugin id="org.eclipse.jdt.debug"/>
<plugin id="org.eclipse.jdt.debug.ui"/>
<plugin id="org.eclipse.jdt.doc.user"/>
<plugin id="org.eclipse.jdt.junit"/>
<plugin id="org.eclipse.jdt.junit.core"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="org.eclipse.jdt.junit4.runtime"/>
<plugin id="org.eclipse.jdt.launching"/>
<plugin id="org.eclipse.jdt.ui"/>
<plugin id="org.eclipse.jem.util"/>
<plugin id="org.eclipse.jetty.continuation"/>
<plugin id="org.eclipse.jetty.http"/>
<plugin id="org.eclipse.jetty.io"/>
<plugin id="org.eclipse.jetty.security"/>
<plugin id="org.eclipse.jetty.server"/>
<plugin id="org.eclipse.jetty.servlet"/>
<plugin id="org.eclipse.jetty.util"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.jgit"/>
<plugin id="org.eclipse.jgit.archive"/>
<plugin id="org.eclipse.jgit.java7"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="org.eclipse.jsch.ui"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.eclipse.m2e.archetype.common"/>
<plugin id="org.eclipse.m2e.core"/>
<plugin id="org.eclipse.m2e.core.ui"/>
<plugin id="org.eclipse.m2e.discovery"/>
<plugin id="org.eclipse.m2e.editor"/>
<plugin id="org.eclipse.m2e.editor.xml"/>
<plugin id="org.eclipse.m2e.jdt"/>
<plugin id="org.eclipse.m2e.jdt.ui"/>
<plugin id="org.eclipse.m2e.launching"/>
<plugin id="org.eclipse.m2e.lifecyclemapping.defaults"/>
<plugin id="org.eclipse.m2e.logback.appender"/>
<plugin id="org.eclipse.m2e.logback.configuration"/>
<plugin id="org.eclipse.m2e.maven.indexer"/>
<plugin id="org.eclipse.m2e.maven.runtime"/>
<plugin id="org.eclipse.m2e.maven.runtime.slf4j.simple"/>
<plugin id="org.eclipse.m2e.model.edit"/>
<plugin id="org.eclipse.m2e.profiles.core"/>
<plugin id="org.eclipse.m2e.profiles.ui"/>
<plugin id="org.eclipse.m2e.refactoring"/>
<plugin id="org.eclipse.m2e.scm"/>
<plugin id="org.eclipse.mylyn.commons.core"/>
<plugin id="org.eclipse.mylyn.commons.identity.core"/>
<plugin id="org.eclipse.mylyn.commons.net"/>
<plugin id="org.eclipse.mylyn.commons.notifications.core"/>
<plugin id="org.eclipse.mylyn.commons.notifications.feed"/>
<plugin id="org.eclipse.mylyn.commons.notifications.ui"/>
<plugin id="org.eclipse.mylyn.commons.repositories.core"/>
<plugin id="org.eclipse.mylyn.commons.repositories.ui"/>
<plugin id="org.eclipse.mylyn.commons.screenshots"/>
<plugin id="org.eclipse.mylyn.commons.ui"/>
<plugin id="org.eclipse.mylyn.commons.workbench"/>
<plugin id="org.eclipse.mylyn.context.core"/>
<plugin id="org.eclipse.mylyn.context.tasks.ui"/>
<plugin id="org.eclipse.mylyn.context.ui"/>
<plugin id="org.eclipse.mylyn.discovery.core"/>
<plugin id="org.eclipse.mylyn.discovery.ui"/>
<plugin id="org.eclipse.mylyn.git.core"/>
<plugin id="org.eclipse.mylyn.git.ui"/>
<plugin id="org.eclipse.mylyn.github.core"/>
<plugin id="org.eclipse.mylyn.github.doc"/>
<plugin id="org.eclipse.mylyn.github.ui"/>
<plugin id="org.eclipse.mylyn.monitor.core"/>
<plugin id="org.eclipse.mylyn.monitor.ui"/>
<plugin id="org.eclipse.mylyn.resources.ui"/>
<plugin id="org.eclipse.mylyn.tasks.core"/>
<plugin id="org.eclipse.mylyn.tasks.index.core"/>
<plugin id="org.eclipse.mylyn.tasks.index.ui"/>
<plugin id="org.eclipse.mylyn.tasks.search"/>
<plugin id="org.eclipse.mylyn.tasks.ui"/>
<plugin id="org.eclipse.mylyn.team.ui"/>
<plugin id="org.eclipse.mylyn.versions.core"/>
<plugin id="org.eclipse.mylyn.versions.ui"/>
<plugin id="org.eclipse.nebula.widgets.tablecombo"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.compatibility.state"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.pde"/>
<plugin id="org.eclipse.pde.api.tools"/>
<plugin id="org.eclipse.pde.api.tools.annotations"/>
<plugin id="org.eclipse.pde.api.tools.ui"/>
<plugin id="org.eclipse.pde.build"/>
<plugin id="org.eclipse.pde.core"/>
<plugin id="org.eclipse.pde.doc.user"/>
<plugin id="org.eclipse.pde.ds.core"/>
<plugin id="org.eclipse.pde.ds.ui"/>
<plugin id="org.eclipse.pde.junit.runtime"/>
<plugin id="org.eclipse.pde.launching"/>
<plugin id="org.eclipse.pde.runtime"/>
<plugin id="org.eclipse.pde.ua.core"/>
<plugin id="org.eclipse.pde.ua.ui"/>
<plugin id="org.eclipse.pde.ui"/>
<plugin id="org.eclipse.pde.ui.templates"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.eclipse.platform.doc.user"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.eclipse.sdk"/>
<plugin id="org.eclipse.search"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.swt.win32.win32.x86_64"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.team.cvs.core"/>
<plugin id="org.eclipse.team.cvs.ssh2"/>
<plugin id="org.eclipse.team.cvs.ui"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.ui.browser"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="org.eclipse.ui.externaltools"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.ui.ide.application"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.eclipse.ui.intro.universal"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="org.eclipse.ui.net"/>
<plugin id="org.eclipse.ui.themes"/>
<plugin id="org.eclipse.ui.trace"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.ui.views.log"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.ui.win32"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.wst.common.core"/>
<plugin id="org.eclipse.wst.common.emf"/>
<plugin id="org.eclipse.wst.common.environment"/>
<plugin id="org.eclipse.wst.common.frameworks"/>
<plugin id="org.eclipse.wst.common.frameworks.ui"/>
<plugin id="org.eclipse.wst.common.project.facet.core"/>
<plugin id="org.eclipse.wst.common.ui"/>
<plugin id="org.eclipse.wst.common.uriresolver"/>
<plugin id="org.eclipse.wst.css.core"/>
<plugin id="org.eclipse.wst.css.ui"/>
<plugin id="org.eclipse.wst.html.core"/>
<plugin id="org.eclipse.wst.html.ui"/>
<plugin id="org.eclipse.wst.jsdt.core"/>
<plugin id="org.eclipse.wst.jsdt.manipulation"/>
<plugin id="org.eclipse.wst.jsdt.ui"/>
<plugin id="org.eclipse.wst.jsdt.web.core"/>
<plugin id="org.eclipse.wst.jsdt.web.ui"/>
<plugin id="org.eclipse.wst.sse.core"/>
<plugin id="org.eclipse.wst.sse.ui"/>
<plugin id="org.eclipse.wst.validation"/>
<plugin id="org.eclipse.wst.validation.ui"/>
<plugin id="org.eclipse.wst.xml.core"/>
<plugin id="org.eclipse.wst.xml.ui"/>
<plugin id="org.eclipse.wst.xsd.core"/>
<plugin id="org.eclipse.xsd"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.junit"/>
<plugin id="org.maven.ide.eclipse.scala"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.objectweb.asm.tree"/>
<plugin id="org.sat4j.core"/>
<plugin id="org.sat4j.pb"/>
<plugin id="org.scala-ide.play2"/>
<plugin id="org.scala-ide.sbt.compiler.interface"/>
<plugin id="org.scala-ide.sbt.compiler.interface.source"/>
<plugin id="org.scala-ide.sbt.full.library"/>
<plugin id="org.scala-ide.scala210.jars"/>
<plugin id="org.scala-ide.sdk"/>
<plugin id="org.scala-ide.sdt.aspects"/>
<plugin id="org.scala-ide.sdt.core"/>
<plugin id="org.scala-ide.sdt.core.tests"/>
<plugin id="org.scala-ide.sdt.debug"/>
<plugin id="org.scala-ide.sdt.scalatest"/>
<plugin id="org.scala-ide.sdt.spy"/>
<plugin id="org.scala-lang.modules.scala-parser-combinators"/>
<plugin id="org.scala-lang.modules.scala-parser-combinators.source"/>
<plugin id="org.scala-lang.modules.scala-swing"/>
<plugin id="org.scala-lang.modules.scala-swing.source"/>
<plugin id="org.scala-lang.modules.scala-xml"/>
<plugin id="org.scala-lang.modules.scala-xml.source"/>
<plugin id="org.scala-lang.scala-actors"/>
<plugin id="org.scala-lang.scala-actors.source"/>
<plugin id="org.scala-lang.scala-compiler"/>
<plugin id="org.scala-lang.scala-compiler.source"/>
<plugin id="org.scala-lang.scala-library"/>
<plugin id="org.scala-lang.scala-library.source"/>
<plugin id="org.scala-lang.scala-reflect"/>
<plugin id="org.scala-lang.scala-reflect.source"/>
<plugin id="org.scala-refactoring.library"/>
<plugin id="org.scala.tools.eclipse.search"/>
<plugin id="org.scalaide.worksheet"/>
<plugin id="org.slf4j.api"/>
<plugin id="org.w3c.css.sac"/>
<plugin id="org.w3c.dom.events"/>
<plugin id="org.w3c.dom.smil"/>
<plugin id="org.w3c.dom.svg"/>
<plugin id="scalariform"/>
</includeBundles>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
<launcherArgs>
<vmArgs>-Xmx2G -Xms200m -XX:MaxPermSize=384m</vmArgs>
</launcherArgs>
</target>
